[user]
	name = Justin Kronz
	email = jkronz@gmail.com.com
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = /Users/justin/.gitignore_global
[alias]
	logr = log -M
	prune-all = !git remote | xargs -n 1 git remote prune
 	remove-branch = "!sh -c 'git branch -D $1 && git push origin :$1' -"
	
